/* .bg-gradient-primary-to-secondary{
  background:black;
} */
.text-gradient1{
   color:black;
}
/* La couleur arriere plan de la partie body */
body{
    background-color: white;
}
/* le lien de navigation */
.nav-link{
    color:white;
}

.btn:hover {
    color: #ffffff;
    background-color: black;
}

/* le boutton de la menu */
.navbar-toggler {
    background-color: #ffffff;
    color: red;
}

.navbar{
    --bs-navbar-hover-color: white;
}

/* le profile de la page principale */
.profile {
   background-color: black;
   margin-top: 70px;
}

/* l'image du .profile */
.profile-img{
    margin-bottom: 50px;
}

/* Pour enlever la barre de souligement du lien */
a:link {
    text-decoration: none;
}

/* Petite taille d'écran */
@media (max-width: 576px) {
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
}

/* Taille moyenne d'écran */
@media (min-width: 577px) and (max-width: 768px) {
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
}

/* Grande taille d'écran */
@media (min-width: 769px) {
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
}
